<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>No</th>
        <th>first name</th>
        <th>last name</th>
        <th>age</th>
    </tr>
    <tr th:each="user, state :${allUser} ">
        <td th:utext="${state.count}" >No</td>
        <td th:utext="${user.firstName}" >first name</td>
        <td th:utext="${user.lastName}" >last name</td>
        <td th:utext="${user.age}" >age</td>
    </tr>
</table>
</body>
</html>